// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.statement {
  justify-content: center;
  align-items: center;
  length: 200PX;
  }
